<p id="notice"><%= notice %></p>

<% if current_user %>
    <h2>Welcome <%= current_user.email %></h2>
<% else %>
    <h1>Welcome!</h1>
    <p>If you are a recrutier, please Log In to have access to our candidates!</p>
<% end %>

